@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

:root {
  --slide-cripto: 100%
}

/* ----------------- MENU ----------------- */

.navbar  {
  background-color: #011838;
  width: 100%;
  position: fixed;
  z-index: 5;
  margin-top: 45px;
}
.navbar a {
  color: #fff;
  padding: 12px;
}
.navbar a:hover {
  color: #ffffffb4;
}
.navbar-toggler {
  padding: 7px;
}
.btn {
  padding: 6px 20px;
  border-radius: 10px;
  font-size: 88%;
  background-color: #ceba85;
  border: none;
  color: #011838;
  transition: 0.5s;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}
.btn:hover {
  background-color: #ceba85;
  color: #fff;
}
.type-1 {
  --color: #ceba85;
  padding: 6px 20px;
  margin-left: 1em;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: .5s;
  font-weight: 700;
  font-size: 88%;
  border: 1px solid;
  color: var(--color);
  z-index: 1;
}
.type-1::before,
.type-1::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.type-1::before {
  top: -1em;
  left: -1em;
}

.type-1::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.type-1:hover::before,
.type-1:hover::after {
  height: 410px;
  width: 410px;
}

.type-1:hover {
  color: #011838;
}

.type-1:active {
  filter: brightness(0.8);
}


.container-fluid {
    margin: 0 7%;
}
.container-fluid .btn {
    margin: 5px;
}

/* Google Translate */
.gt_container--oiz9qs a.glink span {
  font-size: 16px !important; 
}

.gt-current-lang {
  border-bottom: 1px solid #ceba85;
}

/* --------- Slider Cripto ----------*/

.slider-cripto {
  width: 100%;
  height: 45px;
  overflow: hidden;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  z-index: 6;
}
.slider-wrapper-cripto {
  display: flex;
  width: 100%;
  min-width: calc(290px * var(--quantityItems));
  position: relative;
}
.slider-item-cripto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  height: 45px;
  position: absolute;
  left: 100%;
  animation: autoRun 18s linear infinite;
  transition: 0.5s;
  animation-delay: calc( (18s / var(--quantityItems)) * (var(--position) - 1) )!important;
}
.slider-item-cripto img {
  height: 20px;
  width: 20px;
}
.slider-item-cripto .item-name,
.slider-item-cripto .item-price {
  font-size: 13px;
  font-weight: 400;
}
.slider-item-cripto .item-price {
  color: green;
}
.slider-item-cripto .item-price span:nth-child(1) {
  font-weight: 700;
}
.slider-item-cripto .item-name span:nth-child(1) {
  font-weight: 700;
}
.slider-item-cripto .item-price i {
  font-size: .7em;
}
.variation-negative {
  color: red !important;
}
@keyframes autoRun{
  from{
      left: var(--slide-cripto);
  }to{
      left: calc(300px * -1);
  }
}

/* ----------------- GLOSSARIO ----------------- */

.glossario-titulo {
  margin-top: 120px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  position: relative;
}
.img {
  z-index: 1;
  height: 100%;
  position: absolute;
  width: 100%;
  background-image: url(../assets/bg-bitcoin.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: 1900px;
  background-position-y: 49%;
}
.title-bg {
  background-color: rgba(16, 24, 110, 0.85);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.glossario-titulo h2 {
  z-index: 3;
  position: absolute;
  font-weight: 700;
  letter-spacing: 3px;
}
.row {
  margin: 5% 0;
}
.glossario {
  border-left: 1px solid rgba(0, 0, 0, 0.26);
  border-right: 1px solid rgba(0, 0, 0, 0.26);
}
.glossario:hover .content h2{
  color: rgb(173, 148, 5);
  transition: .6s;
}
.glossario:hover {
  border-left: 1px solid black;
  border-right: 1px solid black;
  transition: .6s;
}
.content {
  padding: 0 10%;
  font-weight: 400;
}
.content h2 {
  color: rgba(0, 0, 0, 0.26);
  font-weight: 500;
  letter-spacing: -1px;
}
.col img {
  height: 40px;
  margin: 0 15px;
}
.glossario:hover .col img {
  background-image: url(../assets/icons8-bitcoin-64\ \(1\).png);
}
.row-1, .row-2, .row-3 {
  visibility: hidden;
}

.produtos-btn {
  padding: 6px 70px;
  border-radius: 30px;
  font-size: 77%;
  background-color: #ceba85;
  border: none;
  position: relative;
  color: #011838;
  font-weight: 700;
  letter-spacing: 1px;
  transition: .5s ease-in-out;
}
.produtos-btn:hover {
  color: #fff;
}
.produtos-btn svg {
  background-color: #fff;
  border-radius: 20px;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 5px;
  transition: .5s ease-in-out;
}
.produtos-btn:hover svg {
  transform: translateX(20px);
  transition: .6s ease-in-out;
}
.col {
  position: relative;
}
.col-produtos {
  width: 100%;
  height: 21vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: #011838;
  background-image: url(../assets/cabeçatouro.svg), linear-gradient(90deg, rgba(35,42,107,1) 0%, rgba(18,25,48,1) 50%, rgba(35,42,107,1) 100%);
  background-size: 5500px;
  background-position-y: 47%;
  background-position-x: 55%;
  background-attachment: fixed;
}
.iconLeft {
  position: absolute;
  top: 0;
  right: 15px;
}
.iconRight {
  position: absolute;
  top: 0;
  left: 12px;
}
.right {
  margin-bottom: 2.5em;
}
.col-sm {
  width: 7%;
}

/* ----------------- FOOTER ----------------- */

footer {
  display: flex;
  justify-content: center;
  color: #011838;
  border-bottom: 5.5px solid #ceba85;
}
.footer-1 {
  width: 40%;
  padding: 2.5%;
}
.footer-1 h4 {
  font-weight: 700;
}
.footer-1 span {
  font-size: 88%;
  margin: 5% 5% 5% 0;
}
.footer-1 a span:hover {
  text-decoration: underline;
}
.footer-1 a {
  font-weight: 400;
  text-decoration: none;
  color: #011838;
}
.footer-1 p {
  font-size: 0.9em;
  font-weight: 400;
  width: 85%;
}
.footer-1 p:nth-last-child(1) {
  margin-top: 20px;
}
.footer-1 p span {
  font-size: 100%;
  font-weight: 800;
}
.footer-2 {
  width: 10%;
  border-top: 10px solid #ceba85;
}
.footer-2 img {
  width: 100%;
  height: auto;
}
.footer-3 {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  width: 40%;
  font-weight: 400;
}
.footer-3 a {
  text-decoration: none;
}
.footer-3 button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 30%;
  padding: 1% 5%;
  border-radius: 30px;
  background-color: #2a3184;
  border: none;
  transition: 0.2s;
}
.footer-3 button a {
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
}
.footer-3 button i {
  margin-right: 3%;
}
.footer-3 button:hover {
  background-color: #011838;
}
.footer-3 span {
  padding: 1%;
}
.footer-3 .foot-rights {
  display: flex;
  justify-content: right;
  text-align: right;
}
.footer-3 .social {
  display: flex;
  justify-content: right;
}
.footer-3 img {
  height: 25px;
  width: 25px;
}
.footer-3 a {
  margin: .5%;
}


@media screen and (min-width: 768) {
  .iconLeft {
    left: 5px;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --slide-cripto: 50%
  }
  .slider-item-cripto {
    animation: autoRun 10s linear infinite;
    animation-delay: calc( (20s / var(--quantityItems)) * (var(--position) - 1) )!important;
  }
  .glossario-titulo {
    margin-top: 60px;
  }
    footer {
      display: flex;
      flex-direction: column;
    }
    .footer-1 {
      width: 80%;
      margin: 3%;
    }
    .footer-1 p {
      width: 100%;
    }
    .footer-2 {
      width: 100%;
    }
    .footer-2 img {
      width: 25%;
      margin-left: 37%;
    }
    .footer-3 {
      width: 100%;
    }
    .footer-3 span,
    .footer-3 a,
    .footer-3 .social {
      display: flex;
      justify-content: center;
    }
    .footer-3 .foot-rights {
      display: flex;
      flex-direction: column;
    }
    .footer-3 a button {
      font-size: 70%;
      margin: 0 0 4%;
    }
    .footer-3 .social {
      margin: 4% 0 0;
    }
}

@media screen and (min-width: 300px) and (max-width: 760px) {
  :root {
    --slide-cripto: 40%
  }
  .slider-item-cripto {
    animation: autoRun 14s linear infinite;
    animation-delay: calc( (26s / var(--quantityItems)) * (var(--position) - 1) )!important;
  }
  .gtranslate_wrapper {
    margin-bottom: 20px;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .col-5 {
    width: 100%;
  }
  .iconLeft {
    left: -10px;
  }
  .iconRight {
    left: -5px;
  }
  .footer-1 {
    width: 100%;
  }
  .container {
    margin: 26px 0;
  }
}