@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------- MENU ----------------- */

.navbar  {
  background-color: #121930;
}
.navbar a {
  color: #fff;
}
.navbar a:hover {
  color: #ffffffb4;
}
.navbar-toggler {
  padding: 7px;
}
.btn {
  padding: 6px 20px;
  border-radius: 10px;
  font-size: 88%;
  background-color: #b09c70;
  border: none;
  color: #121930;
  transition: 0.5s;
  font-family: "Open Sans";
  font-weight: 700;
}
.btn:hover {
  background-color: #b09c70;
  color: #fff;
}
.type-1 {
  --color: #b09c70;
  padding: 6px 20px;
  margin-left: 1em;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: .5s;
  font-weight: 700;
  font-size: 88%;
  border: 1px solid;
  font-family: "Open Sans";
  color: var(--color);
  z-index: 1;
}
.type-1::before,
.type-1::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.type-1::before {
  top: -1em;
  left: -1em;
}

.type-1::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.type-1:hover::before,
.type-1:hover::after {
  height: 410px;
  width: 410px;
}

.type-1:hover {
  color: #121930;
}

.type-1:active {
  filter: brightness(0.8);
}


.container-fluid {
    margin: 0 7%;
}
.container-fluid .btn {
    margin: 5px;
}

/* ----------------- TRAJETORIA ------------- */
.traj-sr {
  visibility: hidden;
}
.trajetoria {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2a3184;
}
.trajetoria-titulo {
    display: flex;
    justify-content: center;
    padding: 3% 0;
    background-color: #b09c70;
    width: 100%;
    color: #fff;
    font-family: 'Ubuntu';
    font-weight: 700;
}
.trajetoria-titulo span {
    color: #121930;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  height: 100%;
  padding: 8% 0;
}
.slide-content{
  margin: 0 100px;
  border-radius: 25px;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}
.image-content p {
  font-family: 'Ubuntu';
  font-weight: 700;
}
.card-content p {
  font-family: 'Open Sans';
  font-weight: 400;
}
.image-content{
  position: relative;
  flex-direction: row;
  color: #b09c70;
  font-size: 1.5rem;
}

.description{
  font-size: 14px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  text-align: start;
}

.swiper-navBtn{
  color: #121930;
  font-weight: 800;
  height: 3.5%;
  width: 2.5%;
  background-color: #fff;
  border-radius: 50%;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #7f9df0;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 16px;
}
.swiper-button-next{
  right: 0;
  top: 30%;
}
.swiper-button-prev{
  left: 0;
  top: 30%;
}

/* --------------- MAIN -------------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    gap: 4.5%;
    margin: 3% 0 0 ;
}

.subsec-1 {
    width: 50%;
    position: relative;
}

.subsec-1 h2 {
    width: 50%;
    float: right;
    padding: 4%;
    text-align: end;
    color: #b09c70;
    font-family: 'Ubuntu';
    font-weight: 700;
}

.subsec-1 div {
    height: 12px;
    width: 20%;
    background-color: #2a3184;
    position: absolute;
    right: 4%;
}

.subsec-1 p {
    font-size: 1.7vh;
    width: 70%;
    float: left;
    text-align: justify;
    color: #2a3184;
    font-family: 'Open Sans';
    font-weight: 400;
}

.sec-img {
    height: 10vh;
    width: 10vw;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}
.sec-img img {
    height: 90%;
}

.card {
    background-color: #2a3184;
}
.card-1, .card-2, .card-3 {
  visibility: hidden;
}
.card-body {
    color: #fff;
    padding: 40px;
}
.card-title {
  font-family: '';
  font-weight: 700;
}
.card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%;
  margin: 0;
}
.card-text {
  list-style: circle;
  list-style-position: outside;
}
.card-text li {
  font-family: 'Open Sans';
  font-weight: 400;
  float: left;
}
.card-title + div {
    height: 3px;
    width: 10%;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #b09c70;
}
.btn-back {
    width: 100%;
    height: 24vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-color: #121930;
    background-image: url(../assets/cabeçatouro.svg), linear-gradient(90deg, rgba(35,42,107,1) 0%, rgba(18,25,48,1) 50%, rgba(35,42,107,1) 100%);
    background-size: 5500px;
    background-position-y: 47%;
    background-position-x: 55%;
    background-attachment: fixed;
}
main button {
    padding: 6px 70px;
    border-radius: 30px;
    font-size: 77%;
    background-color: #b09c70;
    border: none;
    transition: 0.2s;
    position: relative;
    color: #121930;
    font-family: 'Open Sans';
    font-weight: 700;
    letter-spacing: 1px;
    transition: .5s ease-in-out;
}
main button:hover {
    color: #fff;
}
main button svg {
    background-color: #fff;
    border-radius: 20px;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 5px;
}
main button:hover svg {
    transform: translateX(20px);
    transition: .6s ease-in-out;
}
/* ------------------ FOOTER --------------- */
 
footer {
  display: flex;
  justify-content: center;
  color: #2a3184;
  border-bottom: 5.5px solid #dda427;
  font-family: 'Open Sans';
}
.footer-1 {
  width: 40%;
  padding: 2.5%;
}
.footer-1 h4 {
  font-weight: 700;
}
.footer-1 span {
  font-size: 88%;
  margin: 5% 5% 5% 0;
}
.footer-1 a span:hover {
  text-decoration: underline;
}
.footer-1 a {
  font-weight: 400;
  text-decoration: none;
  color: #2a3184;
}
.footer-1 p {
  font-size: 80%;
  font-weight: 400;
}
.footer-1 p span {
  font-size: 100%;
  font-weight: bolder;
}
.footer-2 {
  width: 10%;
  border-top: 10px solid #b09c70;
}
.footer-2 img {
  width: 100%;
  height: auto;
}
.footer-3 {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  width: 40%;
  font-weight: 400;
}
.footer-3 button {
  margin: 5% 30%;
  padding: 1% 5%;
  border-radius: 30px;
  font-size: 77%;
  background-color: #2a3184;
  border: none;
  color: #fff;
  transition: 0.2s;
  font-family: 'Open Sans';
  font-weight: 600;
}
.footer-3 button:hover {
  background-color: #121930;
}
.footer-3 span {
  padding: 1%;
}
.footer-3 .foot-rights {
  display: flex;
  justify-content: right;
  text-align: right;
}
.footer-3 .social {
  display: flex;
  justify-content: right;
}
.footer-3 img {
  height: 25px;
  width: 25px;
}
.footer-3 a {
  margin: .5%;
}

@media screen and (max-width: 1000px) {
  .card-title + div {
    width: 50%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .footer-1 {
    width: 80%;
    margin: 3%;
  }
  .footer-2 {
    width: 100%;
  }
  .footer-2 img {
    width: 25%;
    margin-left: 37%;
  }
  .footer-3 {
    width: 100%;
  }
  .footer-3 span,
  .footer-3 a,
  .footer-3 .social {
    display: flex;
    justify-content: center;
  }
  .footer-3 .foot-rights {
    display: flex;
    flex-direction: column;
  }
  .footer-3 a button {
    font-size: 70%;
    margin: 0 0 4%;
  }
  .footer-3 .social {
    margin: 4% 0 0;
  }
}
@media screen and (min-width: 769px) {
  .swiper-pagination {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
@media screen and (min-width: 350px) and (max-width: 760px) {
  .sec-1 {
    flex-direction: column;
  }
  .subsec-1 {
    width: 100%;
  }
  .subsec-1 p {
    width: 80%;
    margin: 0 0 0 10%;
  }
  .subsec-1 h2 {
    width: 80%;
    margin: 12% 10% 4% 0;
  }
  .subsec-1 div {
    right: 14%;
  }
  .footer-1 {
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .card-content {
    flex-direction: column;
    height: auto;
  }
}